@font-face {
    font-family: 'SUSEVariableFont';
    src: url('fonts/SUSE-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'SUSEVariableFont', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.episode-list {
    margin: 20px 0;
}

.episode {
    margin-bottom: 15px;
}

.episode a {
    color: #007bff;
    text-decoration: none;
}

.episode a:hover {
    text-decoration: underline;
}

.button {
    font-family: 'SUSEVariableFont', sans-serif;
    background-color: #87CEFA; /* Light Blue */
    color: white;
    border: none;
    border-radius: 12px; /* Rounded corners */
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #00BFFF; /* Deep Sky Blue */
}

.note {
    font-style: italic;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

@media (max-width: 768px) {
    .episode {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    nav ul.show {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
