/* Font Import */
@font-face {
    font-family: 'SUSE';
    src: url('fonts/SUSE-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Adjust based on the weights available in the font */
    font-style: normal;
}

/* General Styles */
body {
    font-family: 'SUSE', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    display: none; /* Hidden by default, can be enabled for mobile responsiveness */
}

/* Main Content */
main {
    padding: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.home-image {
    width: 300px; /* Adjust if needed */
    height: auto;
}

.season-image {
    width: 300px; /* Same as the thumbnail image */
    height: auto;
    margin-bottom: 1rem;
}

.season-title {
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}

.episode-list {
    margin-top: 1rem;
}

.episode {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.episode a {
    color: #333;
    text-decoration: none;
}

.episode a.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.episode a.button:hover {
    background: #0056b3;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer p {
    margin: 0;
}
